.typography {
  color: white;
  line-height: 120% !important;
  font-size: 22px !important;
}

.symbol {
  color: white;
  line-height: 120% !important;
  font-size: 20px !important;
}

.network {
  color: gray;
  line-height: 120% !important;
  font-size: 18px !important;
  margin-left: 12px !important;
}

.amount {
  color: white;
  line-height: 120% !important;
  font-size: 20px !important;
}

.header {
  color: white;
  line-height: 120% !important;
  font-size: 40px !important;
  text-align: center;
  margin-top: 60px !important;
}